{
    "env": {
        "es6": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "semi": [2, "always"],
        "quotes": [2, "single"],
        "indent": [2, 2],
        "comma-dangle": [2, "never"],
        "linebreak-style": [2, "unix"]
    }
}